@font-face {
    font-family: 'DS-DIGIB';
    src: url('./../../static/font/DS-DIGIB.ttf');
    font-weight: 600;
    font-style: normal;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}